XYS.Report.WS/Service References/FRService/LisPDF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fr.xys.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://fr.xys.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fr.xys.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="report" type="tns:LabReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LabReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReportPK" type="tns:ReportPK" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="tns:InfoElement" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfItemElement" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageList" type="tns:ArrayOfImageElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportPK">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SectionNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTypeNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SampleNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Configured" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PatientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgeStr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClinicName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VisitTimes" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BedNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Doctor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClinicalDiagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Explanation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SectionNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SampleNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SampleTypeNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SampleTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiveTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CollectTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InceptTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TestTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FinalTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Technician" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemElement" nillable="true" type="tns:ItemElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SuperNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RefRange" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DispOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecretGrade" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImageElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImageElement" nillable="true" type="tns:ImageElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImageElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PrintPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintPDFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PrintPDFSoapIn">
    <wsdl:part name="parameters" element="tns:PrintPDF" />
  </wsdl:message>
  <wsdl:message name="PrintPDFSoapOut">
    <wsdl:part name="parameters" element="tns:PrintPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="LisPDFSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <wsdl:input message="tns:PrintPDFSoapIn" />
      <wsdl:output message="tns:PrintPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LisPDFSoap" type="tns:LisPDFSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://fr.xys.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <soap:operation soapAction="http://fr.xys.org/PrintPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LisPDFSoap12" type="tns:LisPDFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://fr.xys.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPDF">
      <soap12:operation soapAction="http://fr.xys.org/PrintPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LisPDF">
    <wsdl:port name="LisPDFSoap" binding="tns:LisPDFSoap">
      <soap:address location="http://localhost:4054/LisPDF.asmx" />
    </wsdl:port>
    <wsdl:port name="LisPDFSoap12" binding="tns:LisPDFSoap12">
      <soap12:address location="http://localhost:4054/LisPDF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>